<!DOCTYPE html>
<html>
<head>
	<title>Add Courses</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0" /> 
    <meta http-equiv="Pragma" content="no-cache" />
</head>
<body>
	<div class="container-fluid">
	<h2>FEEDER22</h2>
	<hr>

{% include path|add:"/templates/feedr/navbar.html" %}

<h4>Add a New Course</h4>

 {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
 {% endif %}
 {% if error_message %}<p style="color:red"><strong>{{ error_message }}</strong></p>{% endif %}
<form action="" method="post" class="form-horizontal">
  {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-4" for="id_courseCode">Course Code : </label>
      <div class="col-sm-6">
        {{form.courseCode}}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="id_assignName">Course Name : </label>
      <div class="col-sm-6">
        {{form.courseName}}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="id_deadlineDate">MidSemester Date (dd-mm-yyyy) : </label>
      <div class="col-sm-6">
        {{form.midSem}}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="id_deadlineDate">EndSemester Date (dd-mm-yyyy) : </label>
      <div class="col-sm-6">
        {{form.endSem}}
      </div>
    </div>
<input type="submit" value="Submit">
</form>

</div>
</body>
</html>
