<!DOCTYPE html>
<html>
<head>
	<title>Add Deadlines</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0" /> 
    <meta http-equiv="Pragma" content="no-cache" />
    {% load i18n %}
    <script type="text/javascript" src="/my_admin/jsi18n/"></script>
<script type="text/javascript" src="/media/admin/js/core.js"></script>
</head>
<body>
	<div class="container-fluid">
	<h2>FEEDER22</h2>
	<hr>

{% include path|add:"/templates/feedr/navbar.html" %}

<h4>Set a Deadline</h4>

 {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
 {% endif %}
<form action="" method="post" class="form-horizontal">
  {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-4" for="id_courseCode">Course Code : </label>
      <div class="col-sm-6">
        {{form.courseCode}}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="id_assignName">Assignment Name : </label>
      <div class="col-sm-6">
        {{form.assignName}}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="id_deadlineDate">Deadline Date (dd-mm-yyyy h:m:s) : </label>
      <div class="col-sm-6">
        {{form.deadlineDate}}
      </div>
    </div>
<input type="submit" value="Submit">
</form>

</div>
</body>
</html>
