<!DOCTYPE html>
<html>
<head>
	<title>Add Deadlines</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0" /> 
    <meta http-equiv="Pragma" content="no-cache" />
</head>
<body>
	<div class="container-fluid">
	<h2>FEEDER22</h2>
	<hr>

{% include path|add:"/templates/feedr/navbar.html" %}

<h4>Add a question</h4>

 {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
 {% endif %}
<form action="" method="post" class="form-horizontal">
  {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-4" for="id_courseCode">Question : </label>
      <div class="col-sm-6">
        {{form.question}}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="id_assignName">Question type : </label>
      <div class="col-sm-6">
        {{form.ques_type}}
      </div>
    </div>
    <input type="hidden" name="feedback" value="{{ current_feedback }}" />
    <input type="hidden" name="course" value="{{ current_feedback.course.code }}" />
<center><input type="submit" name="button1" value="Add another question"><input type="submit" name="button2" value="Make Form"></center>
</form>
{% if questions %}
  <h4><u>Entered questions:</u> </h4>
<table class="table table-striped">
  <tbody>
    {% for q in questions %}
    <tr>
        <td>{{q.question}}</td>
        <td>{{q.ques_type}}</td>
    </tr>
    {% endfor  %}
  </tbody>
</table>
{% endif %}
</div>
</body>
</html>
