<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0" /> 
    <meta http-equiv="Pragma" content="no-cache" />
</head>
<body>
	<div class="container-fluid">
	<h2>FEEDER22</h2>
	<hr>

{% include path|add:"/templates/feedr/navbar.html" %}
<h4>Welcome {{user.username}}</h4>

{% if courseList %}
	<div id="nav">
	<ul class="nav nav-pills navbar" >
    {% for cr in courseList %}
        <form class="form-horizontal" action="{% url 'feedr:courses' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-default" name="course" value="{{ cr.code }}">{{cr.code}}</button>
    {% endfor  %}
    </form>
    <p><h4><u>Course Name:</u> </h4> {{current_course.name}}</p>
    <p><h4><u>Course Code:</u> </h4> {{current_course.code}}</p>
	</ul>
	</div>
<h4><u>Deadlines:</u> </h4>
<table class="table table-striped">
  <thead>
    <tr>
    {% for dl in current_course.assignments_set.all %}
        <th>{{dl.name}}</th>
    {% endfor  %}
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for dl in current_course.assignments_set.all %}
        <td>{{dl.deadline}}</td>
    {% endfor  %}
    </tr>
  </tbody>
</table>
<h4><u>Feedbacks:</u> </h4>
<table class="table table-striped">
  <thead>
    <tr>
    {% for fb in current_course.feedbacks_set.all %}
        <form class="form-horizontal" action="{% url 'feedr:feedbacks' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-default" name="feedback" value="{{fb}}">{{fb.name}}</button>
        </form>
    {% endfor  %}
    </tr>
  </thead>
</table>
<h4><u>Students:</u> </h4>
<table class="table table-striped">
  <tbody>
    {% for st in current_course.students.all %}
    <tr>
        <td>{{st.name}}</td>
        <td>{{st.roll_number}}</td>
        {% for cr in st.courses_set.all %}
        <td>{{cr.name}}</td>
        {% endfor  %}
    </tr>
    {% endfor  %}
  </tbody>
</table>
{% endif %}
</div>
</body>
</html>
