<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0" /> 
    <meta http-equiv="Pragma" content="no-cache" />
</head>
<body>
	<div class="container-fluid">
	<h2>FEEDER22</h2>
	<hr>

{% include path|add:"/templates/feedr/navbar.html" %}
<h4>Welcome {{user.username}}</h4>
<br>
<br>
{% if user.username == "admin" %}
	<h5>Click <a href="/feedr/enroll">here</a> to register the students to database from csv file</h5>
{% endif %}
{% if courseList %}
<p>These are the available courses</p>
	<div id="nav">
	<ul class="nav nav-pills navbar" >
    {% for course in courseList %}
    <form class="form-horizontal" action="{% url 'feedr:courses' %}" method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-default" name="course" value="{{ course.code }}">{{course.code}}</button>
    {% endfor  %}
	</ul>
	</div>
{% endif %}
</div>
</body>
</html>
