<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0" />
    <meta name="google-signin-client_id" content="59536194705-05fv8i9anc8p4sc57kkdtedaklpq6gof.apps.googleusercontent.com"> 
    <meta http-equiv="Pragma" content="no-cache" />
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
  <script src="https://use.fontawesome.com/33e1bf9013.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
  </script>
  <script>
    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '59536194705-05fv8i9anc8p4sc57kkdtedaklpq6gof',
          scope:'https://www.googleapis.com/auth/userinfo.profile',
        });
      });
    }

  </script>
</head>
<body >
	<div class="container-fluid">
	<h2>FEEDER22</h2>
	<hr>
<div class="row">
	<div class="col-xd-8"></div>
	<div class="navbar-right" style="margin-right: 17px">
    <a href="{% url 'feedr:signup' %}">SignUp</a> 
	</div>
	</div> 
	<br>
	<br>
	<br>
	<br>
	<div>
  <form class="form-horizontal" action="." method="post">
  {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-4" for="email">Username:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="pwd">Password:</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter password">
      </div>
    </div>
        <div class="form-group">
      <div class="col-sm-offset-6 col-sm-10" style="margin-bottom: 10px">
        <button type="submit" class="btn btn-default">Login</button>
      </div>
      <div style="margin-left:630px">
        {% if error_message %}<p style="margin-top: 10px;color: red"><strong>{{ error_message }}</strong></p>{% endif %}
      </div>
    </div>
    </form>
       <div class="col-sm-offset-6 col-sm-10" style="margin-left: 625px">
        <button  class="btn btn-default" id="signinButton"><i class="fa fa-google " aria-hidden="true"></i> Sign in</button>
      </div>

<script>
  $('#signinButton').click(function() {
    // signInCallback defined in step 6.
   auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);
  });
</script>
</div>
  <script>
function signInCallback(authResult) {
  if (authResult['code']) {

    // Hide the sign-in button now that the user is authorized, for example:
    //$('#signinButton').attr('style', 'display: none');
    //window.alert(authResult['code'])
    // Send the code to the server
    $.ajax({
      type: 'POST',
      url: 'http://localhost:8022/feedr/Googlelogin/',
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        window.open("http://localhost:8022/feedr/home/","_self")
        // Handle or verify the server response.
      },
      processData: false,
      data: authResult['code'],
      async:false
    });
  } else {
    // There was an error.
  }
}
</script>
</body>
</html>
