<!DOCTYPE html>
<html>
<head>
	<title>Manage Courses</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0" /> 
    <meta http-equiv="Pragma" content="no-cache" />
</head>
<body>
	<div class="container-fluid">
	<h2>FEEDER22</h2>
	<hr>

{% include path|add:"/templates/feedr/navbar.html" %}

<h4>Enroll Students</h4>

 {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
 {% endif %}
{% if courseList %}
    <p>Please select a Course</p>
	<div id="nav">
	<ul class="nav nav-pills navbar" >
    {% for cr in courseList %}
        <form class="form-horizontal" action="." method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-default" name="course" value="{{ cr.code }}">{{cr.code}}</button>
    {% endfor  %}
        </form>
    {% if current_course %}
    <p><h4><u>Course Name:</u> </h4> {{current_course.name}}</p>
    <p><h4><u>Course Code:</u> </h4> {{current_course.code}}</p>
    {% endif %}
	</ul>
	</div>
{% endif %}
{% if current_course %}
<form action="." method="post" class="form-horizontal">
  {% csrf_token %}
  <div class="form-group">
      <label class="control-label col-sm-4" for="id_courseCode">Students : </label>
			<div class="col-sm-6">
				{{ form.students }}
			</div>
            <input type="hidden" name="current_course" value="{{ current_course.code }}" />
  </div>
  <div class="span7 text-center">
            <input type="submit" value="Submit">
            </div>
</form>
{% endif %}  
</div>
</body>
</html>
