{% if user.username == "admin" %}
	<div id="nav">
	<ul class="nav nav-pills navbar" >
	<li class="{{activeStatus.0}}"><a href="/feedr/home">Home</a></li>
	<li class="{{activeStatus.1}}"><a href="/feedr/admin/add">Add Courses</a></li>	
	<li class="{{activeStatus.2}}"><a href="/feedr/admin/manage" >Manage courses</a></li>
	<li class="navbar-right" style="margin-right: 2px"><a href="/feedr/logout/" >Logout </a></li>
	</ul>
	</div>
{% else %}
	<div id="nav">
	<ul class="nav nav-pills navbar" >
	<li class="{{activeStatus.0}}"><a href="/feedr/home">Home</a></li>
	<li class="{{activeStatus.1}}"><a href="/feedr/addFeedback">Add Feedback</a></li>	
	<li class="{{activeStatus.3}}"><a href="/feedr/responses" >View Responses</a></li>
	<li class="{{activeStatus.2}}"><a href="/feedr/addDeadlines/" >Add Deadlines</a></li>
	<li class="{{activeStatus.4}}"><a href="/feedr/viewDeadlines" >View Deadlines</a></li>
	<li class="navbar-right" style="margin-right: 2px"><a href="/feedr/logout/" >Logout </a></li>
	</ul>
	</div>
{% endif %}
