<!DOCTYPE html>
<html>
<head>
	<title>signup</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0" /> 
    <meta http-equiv="Pragma" content="no-cache" />
</head>
<body>
	<div class="container-fluid">
	<h2>FEEDER22</h2>
	<hr>
	
 <br>
  <br>
   <br>
    <br>
	<div>
  <form class="form-horizontal" action="." method="post">
  {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-4" for="id_email" >Email-Id:</label>
      <div class="col-sm-6">
        <input class="form-control" id="id_email" name="email" value="{{form.email.value}}" type="email" required />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="id_username">Username:</label>
      <div class="col-sm-6">
        <input class="form-control" id="id_username" name="username" value="{{form.username.value}}" type="text" required />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="id_password">Password:</label>
      <div class="col-sm-6">
        <input class="form-control" id="id_password" minlength="4" name="password"  type="password" required />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="id_pwd2">Confirm Password:</label>
      <div class="col-sm-6">
        <input class="form-control" id="id_pwd2" minlength="4" name="pwd2" type="password" required />
      </div>
    </div>
        <div class="form-group">
      <div class="col-sm-offset-6 col-sm-10">
        <button type="submit" class="btn btn-default" >Register</button>
      </div>
   
    </div>
    
        {% for field in form %}
        {% for err in field.errors %}
        <p style="color: red;margin-left: 600px" class="col-sm-offset-6 col-sm-10">
            {{err}} 
        </p>
        {% endfor %}
        {% endfor %}
        <p style="color: red;margin-left: 600px" class="col-sm-offset-6 col-sm-10">
            {{uerror}} 
        </p>


    </form>
	</div>
	</div>
</body>
</html>
