<!DOCTYPE html>
<html>
<head>
	<title>Feedback Responses</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0" /> 
    <meta http-equiv="Pragma" content="no-cache" />
</head>
<body>
	<div class="container-fluid">
	<h2>FEEDER22</h2>
	<hr>

{% include path|add:"/templates/feedr/navbar.html" %}
{% if courselist %}
	<!-- <h4><strong>Courses:</strong></u> </h4> -->
	<div id="nav">
	<ul class="nav nav-pills navbar" >
    <form class="form-horizontal" action="" method="post">
    <table>
    <tbody>
    <tr>
    {% for cr in courselist %}
        {% csrf_token %}
        <td>
        <button type="submit" class="btn btn-default" name="course" value="{{ cr.code }}">{{cr.code}}</button>
    	</td>
    {% endfor  %}
    </tr>
</tbody>
</table>
    </form>
	</ul></div>
    {% if feedbacklist %}
    <p><h4><strong><u>Course Name:</u>  {{course}}</strong></h4></p>
    <!-- <h4><u>Feedbacks:</u> </h4> -->
	<div id="nav">
	<ul class="nav nav-pills navbar" >
    <form class="form-horizontal" action="" method="post">
    <table>
    <tbody>
    <tr>
    	{% for fb in feedbacklist %}
        {% csrf_token %}
        <td>
        <input type="hidden" name="course" value="{{course}}" />
        <button type="submit" class="btn btn-default" name="Feedback" value="{{ fb.name }}">{{ fb.name }}</button>
	    </td>
	    {% endfor  %}
	</tr>
	</tbody>
	</table>
	</form>
	</ul></div>
    {% if responselist %}
    <p><h4><strong><u>Feedback:</u>  {{Feedback}}</strong></h4></p>
    <h4><u>Responses:</u> </h4>
    {% for key,value in responselist.items %}
	<table class="table table-striped">
	<thead>
	<tr>
	<th>{{key}}</th>
	</tr>
	</thead>
	<tbody>
	{% if key.ques_type == 'Character Field' %}
		{% for res in value %}
		<tr><td>{{ res }}</td></tr>    
		{% endfor %}
	{% else %}
		<tr><td><strong>Options</strong></td><td><strong>Number of options</strong></td></tr>
		{% for key1,value1 in value.items %}
		<tr><td>{{ key1 }}</td><td>{{ value1 }}</td></tr>
		{% endfor %}
	{% endif %}
	</tbody>
	</table>
	{% endfor %}
	{% endif %}
	{% endif %}
	{% endif %}
</div>
</body>
</html>
