<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0" /> 
    <meta http-equiv="Pragma" content="no-cache" />
</head>
<body>
	<div class="container-fluid">
	<h2>FEEDER22</h2>
	<hr>

{% include path|add:"/templates/feedr/navbar.html" %}
<h4>Welcome {{user.username}}</h4>

{% if courseList %}
	<div id="nav">
	<ul class="nav nav-pills navbar" >
    {% for cr in courseList %}
        <form class="form-horizontal" action="{% url 'feedr:courses' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-default" name="course" value="{{cr}}">{{cr.code}}</button>
    {% endfor  %}
    </form>
	</ul>
	</div>
    <p><h4><u>Feedback Name:</u> </h4>{{current_feedback.name}}</p>
    <p><h4><u>Feedback Deadline:</u> </h4>{{current_feedback.deadline}}</p>
    <h4><u>Questions:</u> </h4>
<table class="table table-striped">
  <tbody>
    {% for ques in current_feedback.questions_set.all %}
    <tr>
        <td>{{ques.question}}</td>
    </tr>
    {% endfor  %}
  </tbody>
</table>
{% endif %}
</div>
</body>
</html>
