<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0" /> 
    <meta http-equiv="Pragma" content="no-cache" />
</head>
<body>
	<div class="container-fluid">
	<h2>FEEDER22</h2>
	<hr>
<div class="row">
	<div class="col-xd-8"></div>
	<div class="navbar-right" style="margin-right: 17px">
    <a href="{% url 'feedr:signup' %}">SignUp</a> 
	</div>
	</div> 
	<br>
	<br>
	<br>
	<br>
	<div>
  <form class="form-horizontal" action="." method="post">
  {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-4" for="email">Username:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="pwd">Password:</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter password">
      </div>
    </div>
        <div class="form-group">
      <div class="col-sm-offset-6 col-sm-10" style="margin-bottom: 10px">
        <button type="submit" class="btn btn-default">Login</button>
      </div>
      <div style="margin-left:630px">
        {% if error_message %}<p style="margin-top: 10px;color: red"><strong>{{ error_message }}</strong></p>{% endif %}
      </div>
    </div>

    </form>
	</div>
	</div>

</body>
</html>
