<!DOCTYPE html>
<html>
<head>
	<title>View Deadlines</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0" /> 
    <meta http-equiv="Pragma" content="no-cache" />
</head>
<body>
	<div class="container-fluid">
	<h2>FEEDER22</h2>
	<hr>

{% include path|add:"/templates/feedr/navbar.html" %}
{% for g in deadlineList %}
{% if forloop.first %}
	<h4>{{name.0}}</h4>
{% else %}
	<h4>{{name.1}}</h4>
{% endif %}

<table class="table">
<thead>
<tr>
<th>Course Code</th>
<th>Assignment Name</th>
<th>Deadline</th>	
</tr>
</thead>
<tbody>
{% for f in g %}
<tr>
<td>{{f.courseCode}}</td>
<td>{{f.assignName}}</td>
<td>{{f.deadlineDate}}</td>
</tr>

{% endfor %}
</tbody>
</table>
<br>
{% endfor %}


</div>
</html>